
<table class="table table-bordered table-dark table-striped">
  <thead class="text-center">
    <tr>
      <th scope="col">Data</th>
      <th scope="col">Clock_in</th>
      <th scope="col">Clock_out</th>
  </tr>
  </thead>
  <tbody class="text-center">
    <%@shifts.each do |shift|%>
      <tr>
        <th><%=shift.clock_in.strftime("%d/%m/%Y")%></th>
        <td><%= shift.clock_in.strftime("%H:%M:%S") %></td>
        <td><%= shift.clock_out.strftime("%H:%M:%S") if shift.clock_out.present? %></td>
      </tr>
    <%end%>
  </tbody>
</table>