<div class='container'>
  <% if @shift&.clock_in %>
  <%#  BOTAO PRA UPDATE  %>
    <div class='card'>
      <h3> <%= DateTime.now - @shift.clock_in %> </h3>
      <br /><%= link_to 'Clock Out', user_shift_path(@shift.id), method: :put, class: "btn btn-success mb-4"%>
    </div>
  <% else %>
    <div class='card'>
      <%= link_to 'Clock In', user_user_shifts_path(current_user.id), method: :post, class: "btn btn-success mb-4"%>
    </div>
  <% end %>

  <%= render 'shifts', shifts: @shifts %>
</div>
